body {
    height: 100vhs;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: lightblue;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#astro {
    width: 504px;   /* width of each "frame" of the image */
    height: 687px;  /* height of the image */
    background-image: url('../imgs/spaceman-filmstrip.jpg');
    transform: scale(.5);  /* scale the side of the element as desired */
    background-position-x: 504px;
    margin-top: -250px;
  }

/* #A {
    border: black;
    border-radius: 50%;
    border-color: black;
} */

button {
    background-color: red;
    border-radius: 25%;
    border-color: black;
    margin: 5px;
    padding: 10px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    /* align-content: center; */
    /* justify-content: center; */
}

#ltr {
    border: black;
    border-color: blue;
    background-color: goldenrod;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-evenly;
    width: 595px;
}

/* #ltr:hover {
    background-color: lightblue;
    color: white;
} */

#replay:hover {
    background-color: white;
    color: red;
}

button:hover {
    background-color: purple;
}

h2 {
    font-size: 10vmin;
}

#guess {
    letter-spacing: 2vmin;
    font-size: 10vmin;
    margin-top: -150px;
}